<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Page</title>
</head>
<body>
   <h1> Welcome FinanceTracker App!</h2>
   <%= link_to 'Sing out', destroy_user_session_path, method: :delete%>
</body>
</html>